.btn {
  padding: 0.5rem 2.4rem;
  border: transparent;
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Primary Button Styles*/
.btn.primary {
  background-color: var(--taikonz-primary, #553bf5);
}

.btn.primary:hover {
  background-color: var(--primary-color-dark, #0056b3);
}

/* Secondary Button Styles*/
.btn.secondary {
  background-color: inherit;
  border: 1px solid red;
}

.btn.secondary:hover {
  background-color: inherit;
}
