/* Default Navbar styles */
.navbarSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  height: 10rem;
  font-weight: 500;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 12rem;
  height: auto;
}

.hamburgerMenu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

/* Navbar links container */
.navbarLinksContainer {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2.4rem;
  font-size: 1.6rem;
  list-style: none;
}

.nav-buttons {
  display: flex;
  gap: 1.6rem;
}

/* Dark mode toggle button */
.darkModeToggle {
  margin-left: 1rem;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbarSection {
    padding: 1rem;
  }

  .logoContainer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburgerMenu {
    display: block;
    margin-left: auto;
  }

  .darkModeToggle {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbarLinksContainer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-color);
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 50rem;
    opacity: 0;
    z-index: 10;
  }

  .navbarLinksContainer.open {
    max-height: 50rem;
    opacity: 1;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .navbarLinksContainer .nav-links > li > .navLink {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    width: 100%;
  }

  .nav-buttons {
    margin: 1rem 0;
    width: 100%;
    justify-content: center;
  }
}
